.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    width: 1175px;
    margin: 0 calc((100% - 1175px)  / 2);
}

.container > .bit-logo {
    align-items: center;
}

.container > .head-logo {
    align-items: center;
}

.header-text {
    line-height: 100%;
    color: #ffff;
    font-size: 2em;;
}

.header-text > * {
    vertical-align: middle;
}

.link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #ffff;
    margin-left: 20px;
}

.header-text {
    color: #ffff;
}


.button {
    padding: 0.5em;
    background-color: #fff;
    color: #000000;
    line-height: 1em;
    text-decoration: none;
    user-select: none;
    text-align: center;
    width: 120px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 400px;
    width: 400px;
    height: 299px;
    margin: 0 calc((100% - 1175px)  / 2);
}

.herotext {
    color: #fff;
}

.group-image{
    margin-bottom: 4em;
    width: 90%;
}

.main-text {
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
}


.main-text > h4 {
    color: #74C69D;
}


.bottom-text > h4 {
    color: #74C69D;
}

.bottom-text > h1 {
    font-family: 'Times New Roman', Times, serif;
}
.partners {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
    gap: 20px;
    margin: 0 calc((100% - 1175px)  / 2);
}

main > .container {
    flex-direction: column;
}

.main-button {
    padding: 0.6em;
    background-color: #212529;
    color: #ffffff;
    line-height: 0.1em;
    text-decoration: none;
    user-select: none;
    text-align: center;
    width: 200px;
    border-radius: 5px;
}

.main-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    margin-top: 7em;
    margin: 0 calc((100% - 1175px)  / 2);
    flex-wrap: wrap;
}

.main-top > *:nth-child(3) {
    flex-basis: 45%;
}

.introduction {
    height: 450px;
}

.people-group {
    height: 380px;
    margin-left: 110px;
}

.top-text {
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0em;
}


.bottom-text{
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}


.talents{
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1175px;
    margin: auto;
    justify-content: space-between;
    padding: 3em;
    margin: 0 calc((100% - 1175px)  / 2);
}

.talents h1, .talents p {
    text-align: left;
}

.talents p {
    text-align: left;
    text-transform: uppercase;
    margin-top: 1em;
}

.frame {
    width: 252px;
    height: 280px;
    border: 1px solid #ccc;
    background: #fff; 
    box-shadow: 7px 7px 6px #d5d8db;
    border-radius: 5px;
    text-align: center;
    padding: 1em;
  }


.bg-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    width: 89.08rem;
    gap: 20px;
    margin-top: 7em;
    color: #ffffff;

}

.socials {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    font-size: 20px;
}
.socials > .social-link {
    width: 1em;
    height: 1em;
    font-size: inherit;
    line-height: 1em;
    text-align: center;
    color: #f2f0f0;
    text-decoration: none;
}

.socials > .social-link:hover {
    color: #f1ecf7;
    margin: -0.25em;
    font-size: 2em;
}